@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 194 67% 94%;
    --foreground: 210 10% 23%;
    --card: 0 0% 100%;
    --card-foreground: 210 10% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 10% 23%;
    --primary: 197 76% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 194 50% 85%;
    --secondary-foreground: 197 76% 30%;
    --muted: 194 50% 85%;
    --muted-foreground: 197 76% 40%;
    --accent: 42 100% 62%;
    --accent-foreground: 35 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 50% 80%;
    --input: 0 0% 100%;
    --ring: 197 76% 52%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 204 10% 10%;
    --foreground: 0 0% 98%;
    --card: 204 10% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 204 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 197 76% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 204 10% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 204 10% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 42 100% 62%;
    --accent-foreground: 35 100% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 204 10% 25%;
    --input: 204 10% 25%;
    --ring: 197 76% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
